:root {
  font-family: system-ui, sans-serif;

  color: #ffffff;
  background: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  z-index: 1;
}

.bar {
  position: absolute;
  background: #1b1b1b;
  z-index: 2;
}
