:root {
  font-family: system-ui, sans-serif;

  color: #ffffff;
  background: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  z-index: 1;
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.grabbed {
  cursor: grabbing;
}

.bar {
  position: absolute;
  background: #1b1b1b;
  z-index: 2;
}

#popup-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.65);
}

#popup {
  width: 480px;
  padding-bottom: 10px;
  background: #1b1b1b;
  font-size: 20px;
}

#popup > div {
  padding: 4px 16px;
}

#popup-title {
  padding: 10px 0 !important;
  margin-bottom: 10px;
  background: #2c2c2c;
  text-align: center;
  font-weight: bold;
}

select,
button,
input {
  font: inherit;
}

textarea {
  width: calc(100% - 8px);
  resize: vertical;
  font: inherit;
  font-family: monospace;
}

.hidden {
  display: none !important;
}
